In [15]:
import pandas as pd

data = pd.read_csv('C:/Users/11020/OneDrive - Universiti Malaya/um/Java_Program/WIA1002/Pokemon/Project-Pokemon/Pokemon/pokemon.csv')

df = pd.DataFrame(data)
data.head()

,id,name,type1,type2,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Charmander,Fire,NaN,309,39,52,43,60,50,65
2,3,squirtle,Water,NaN,308,44,48,65,50,64,43
3,4,Caterpie,Bug,NaN,105,45,30,35,20,20,45
4,5,Weedle,Bug,Poison,105,40,35,30,20,20,50

In [16]:
df['total'] = df.apply(lambda x: x['hp'] + x['attack'] + x['defense'] + x['sp_atk'] + x['sp_def'] + x['speed'], axis=1)
df.pd.fillna('None', inplace=True)

,id,name,type1,type2,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Charmander,Fire,NaN,309,39,52,43,60,50,65
2,3,squirtle,Water,NaN,314,44,48,65,50,64,43
3,4,Caterpie,Bug,NaN,195,45,30,35,20,20,45
4,5,Weedle,Bug,Poison,195,40,35,30,20,20,50
...,...,...,...,...,...,...,...,...,...,...,...
70,74,Moltres,Fire,Flying,580,90,100,90,125,85,90
71,75,Dratini,Dragon,NaN,300,41,64,45,50,50,50
72,76,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130
73,77,Mew,Psychic,NaN,600,100,100,100,100,100,100
74,78,Meltan,Steel,NaN,270,40,35,50,65,50,30

In [17]:
df['id'] = range(1, len(df)+1)
df.to_csv('pokemon.csv', index=False)